<footer id="footer-component" class="bg-gray-50 border-t border-gray-200 mt-auto">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <div class="flex justify-between items-center">
            <div id="licence" class="flex items-center space-x-2">
                <span class="text-sm text-gray-600 font-medium"><a href="https://github.com/ymougenel/aws-certification/blob/main/LICENSE">MIT License</a></span>
            </div>
            <div class="text-center"><p class="text-sm text-gray-600">Made in <span class="font-semibold">{{ current_date | date:'yyyy' }}</span> by
                <a class="font-semibold text-blue-600" href="https://blog.ymougenel.com/about/">ymougenel</a>, with <span class="text-red-500">❤️</span>
                and <span class="font-semibold text-purple-600">AI</span></p></div>
            <div>
<!--                <button class="text-sm font-medium text-blue-600 hover:text-blue-800 transition-colors duration-200">-->
<!--                    About Project-->
<!--                </button>-->
            </div>
        </div>
    </div>
</footer>