<div class="aws-header ">
    <div class="container flex">
        <!--        THE AWS LOGO   -->
        <div class="flex align-items-center">
            <h1 class="mb-0">
                <i class="fab fa-aws fa-xl me-3"></i>
            </h1>

        </div>

        <div class="flex items-center space-x-4">
            <div>
                <h1 class="text-xl font-bold ">My AWS Certification Study</h1>
                <p class="text-sm">Master AWS concepts with interactive learning</p>
            </div>
        </div>
        <h1 class="mb-0 ml-auto" id="github_project">
            <a href="https://github.com/ymougenel/aws-certification" alt="lien github">
                <i class="fab fa-github fa-xl me-5"></i>
            </a>
        </h1>
    </div>
</div>